@media screen and (max-width: 2000px) {
    body, html {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh; /* Viewport height를 100% 채우기 */
    }
    
    #wrapper {
        flex: 1;
    }
    
    #withdrawSection {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px; /* 여백 추가 */
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        padding: 0 20px;
        height: 64px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9;
    }

    .logo {
        width: 120px;
        height: 56px;
        margin-right: 40px;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: white;
        display: flex;
        text-align: center;
    }

    nav ul li {
        display: inline-block;
        position: relative;
        padding-right: 30px; /* 마지막 항목을 제외하고 오른쪽 패딩 추가 */
    }

    nav ul li:last-child {
        padding-right: 0; /* 마지막 항목의 오른쪽 패딩 제거 */
    }

    nav ul li a {
        display: block;
        padding: 10px 15px;
        color: black;
        text-decoration: none;
        text-align: center;  /* 모든 링크 텍스트를 가운데 정렬 */
    }

    nav ul li:hover {
        background-color: #b3fcf8;
    }

    nav ul li .dropdown-content {
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        width: 150px; /* 너비를 150픽셀로 설정 */
        background-color: white;
        text-align: left;
    }

    nav ul li:hover .dropdown-content {
        display: block;
    }

    nav ul li .dropdown-content li {
        display: block;
        text-align: left; 
    }

    nav ul li .dropdown-content li a {
        display: block;
        padding: 10px 20px;
        color: black;
        text-decoration: none;
        text-align: left;
    }

    nav ul li .dropdown-content li a:hover {
        background-color: #b3fcf8;
    }

    .right-items {
        margin-left: auto;
    }

    .search {
        display: flex;
        align-items: center;
        margin-left: auto; /* 이 속성이 search 부분을 오른쪽으로 밀어냅니다. */
        cursor: pointer;
    }

    /* 버튼 테두리 없애기 */
    .search-button{
        position: relative;
        display: inline-block;
        cursor: pointer;
        padding: 10px;
        transition: background-color 0.3s ease;
        border: none;
        background-color: transparent;
    }

    .search-button:hover {
        background-color: #f1f1f1;
        border-radius: 50%;
    }

    .search-button .fa-magnifying-glass {
        font-size: 24px;
        color: #333;
    }

    .search input {
        margin-right: 10px; /* 입력 필드와 버튼 사이의 간격 */
        width: 200px;
        padding: 10px 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        outline: none;
        transition: width 0.3s ease-in-out;
    }

    .search-input:focus {
        width: 300px;
        border-color: #66afe9;
        box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    }

    /* 글로벌 아이콘 */
    .globe-icon {
        position: relative;
        display: inline-block;
        cursor: pointer;
        padding: 10px;
        transition: background-color 0.3s ease;
    }

    .globe-icon:hover {
        background-color: #f1f1f1;
        border-radius: 50%;
    }

    .globe-icon .fa-globe {
        font-size: 24px;
        color: #333;
    }

    .globe-icon .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: white;
        min-width: 160px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 4px;
        overflow: hidden;
        margin-top: 10px;
    }

    .globe-icon .dropdown-content li {
        display: block;
    }

    .globe-icon .dropdown-content li a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        transition: background-color 0.3s ease;
    }

    .globe-icon .dropdown-content li a:hover {
        background-color: #e9e9e9;
    }

    .auth {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: 100px;
    }

    .header-profile-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
        transition: border 0.3s ease;
        object-fit: cover; /* 이미지가 원형에 맞게 조정되도록 함 */
    }

    .globe-icon {
        padding-left: 20px; /* 왼쪽에 20px 간격 */
        padding-right: 20px; /* 오른쪽에 20px 간격 */
    }

    /* 왼쪽 프로필 */
    .main {
        display: flex;
        justify-content: center;
        padding: 20px;
        margin-top: 64px; /* 헤더 높이만큼의 여백 추가 */
    }

    .game_list{
        margin-top: 50px;
        margin-bottom: 20px;
        height: 200px;
        padding: 120px;
        background-color: #ffffff;
        border-radius: 25px;
    }
    

    .sidebar, .main-content {
        background-color: #b3fcf8;
        padding: 20px;
        border-radius: 25px;
        margin: 10px;
    }
    .sidebar {
        flex: 1;
        max-width: 250px;
    }

    .Profile-container {
        max-width: 200px;
        margin: 300px auto;
        margin-left: 150px;
        background-color: #b3fcf8;
        padding: 20px;
        border-radius: 25px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .Profile-header {
        text-align: center;
        margin-bottom: 20px;
    }

    .Profile-picture {
        width: 500px;
        height: 500px;
        border-radius: 25px;
        object-fit: cover;
        margin-bottom: 100px;
    }

    .nickname {
        font-size: 15px;
        font-weight: bold;
        color: #000;
    }

    .Profile-body {
        margin-bottom: 20px;
    }

    .friend-bio {
        font-size: 15px;
        color: #000;
    }

    .Profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Profile img {
        margin-top: 50px;
        width: 250px;
        height: 200px;
        border-radius: 25px;
        margin-bottom: 100px;
    }

    .Profile-info {
        text-align: left;
    }

    .Profile-info p {
        text-align: left;
        margin: 5px 0;
        margin-bottom: 10px;
    }
    /* 디스코드 버튼 */
    .discode {
        max-width: auto;
        margin: 10px auto;
        background-color: white;
        padding: 15px;
        border-radius: 25px;
        cursor: pointer;
        color: black;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border: 2px solid #ffffff;
    }

    .discode:hover { /* 버튼 효과 */
        background-color: #d5b7ed;
        color: white;
    }

    /* 라디오 버튼 커스텀 스타일 */
    .custom-radio {
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 16px;
        user-select: none;
        display: inline-flex; /* 가로로 배열되도록 인라인 플렉스 사용 */
        align-items: center; /* 세로 중심 정렬 */
    }

    /* 숨김 */
    .custom-radio input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* 체크마크를 만들기 위한 기본 원 */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0; /* 라디오 버튼을 왼쪽에 위치시킴 */
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
        border: 1px solid #ddd;
        z-index: 0;
    }


    /* 호버 효과 */
    .custom-radio:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* 라디오 버튼이 체크될 때의 스타일 */
    .custom-radio input:checked ~ .checkmark {
        background-color: #d5b7ed;
    }

    /* 체크 표시 스타일 */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* 체크 표시를 표시하도록 스타일 변경 */
    .custom-radio input:checked ~ .checkmark:after {
        display: block;
    }

    /* 체크마크 아이콘 스타일 */
    .custom-radio .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }




    /* 오른쪽 프로필칸 */
    .main-content {
        width: 800px;
        height: 1500px;
        justify-content: center;
        background-color: #b3fcf8;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .change_nickname, .profile, .games, .tier {
        margin-bottom: 20px;
    }

    #wrapper {
        position: relative;
        min-height: 100%; /* 내용이 적을 때도 화면을 채우기 위해 */
    }

    #content {
        width: 460px; /* 콘텐츠 너비 설정 */
        margin-bottom: 50px; /* 각 섹션 하단에 40px 마진 추가 */
        position: relative; /* 기본 설정, 필요 없다면 이 줄을 제거할 수 있음 */
        left: 50%; /* 중앙 정렬 유지 */
        transform: translateX(-50%); /* 정확한 중앙 정렬 */
    }

    #content01 {
        width: 460px;
        margin-bottom: 40px;
        height: 400px; /* 높이를 늘림 */
        position: relative;
        left: 50%; /* 중앙 정렬 유지 */
        transform: translateX(-50%); /* 정확한 중앙 정렬 */
        
    }
    
    .box.int_tier_display {
        height: 100%; /* 박스 높이를 부모 요소에 맞게 설정 */
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #fff; /* 배경색 추가 */
        overflow-y: auto; /* 내용이 넘칠 경우 스크롤 가능하게 설정 */
    }


    h3 {
        margin: 19px 0 8px;
        font-size: 14px;
        font-weight: 700;
    }

    .box {
        display: block;
        width: 100%;
        height: 51px;
        border: solid 1px #dadada;
        padding: 10px 14px 10px 14px;
        box-sizing: border-box;
        background: #fff;
        position: relative;
    }

    .int {
        display: block;
        width: 100%;
        height: 100%;
        border: none;
        background: #fff;
        font-size: 15px;
        box-sizing: border-box;
    }

    .box.int_profile {
        width: 100%; /* 박스의 너비를 최대로 설정 */
        height: 200px; /* 높이를 더 크게 설정 */
        padding: 0; /* 내부 패딩을 제거하여 `textarea`가 더 많은 공간을 사용하도록 함 */
        border: 1px solid #ccc; /* 경계선을 설정하여 시각적으로 구분 */
        margin-bottom: 20px;
    }

    .box.int_profile textarea {
        width: 100%; /* textarea의 너비를 박스의 100%로 설정 */
        height: 197px; /* textarea의 높이를 더 크게 설정 */
        padding: 10px; /* 텍스트와 테두리 사이의 여백을 설정 */
        box-sizing: border-box; /* 테두리와 패딩을 요소의 크기에 포함 */
        resize: none; /* 사용자가 크기 조절 못 하도록 설정 */
    }

    .box.int_game_tier {
        position: relative; /* 상대 위치 설정 */
        width: 100%; /* 너비를 100%로 설정 */
        margin-bottom: 20px; /* 아래 요소와의 마진 설정 */
        padding: 10px; /* 내부 패딩 설정 */
        border: 1px solid #ccc; /* 경계선 설정 */
    }

    input {
        font-family: Dotum,'돋움',Helvetica,sans-serif;    
    }

    .box.int_id {
        padding-right: 110px;
    }

    .box.int_pass {
        padding-right: 40px;
    }

    .box.int_pass_check {
        padding-right: 40px;
    }

    input[type="text"], textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
    }

    button {
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #d5b7ed;
        color: white;
        border: none;
        cursor: pointer;
        float: right;
    }

    .button {
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #d5b7ed;
        color: white;
        border: none;
        cursor: pointer;
        float: right;
    }

    .button:hover {
        background-color: #c89bec;
    }

    button:hover {
        background-color: #c89bec;
    }

        /* 에러메시지 배치 */
    .error_next_box {
        margin-top: 12px;
        font-size: 12px;
        color: red;    
        display: none;
    }

    #alertTxt {
        position: absolute;
        margin-top: 12px;
        top: 19px;
        right: 38px;
        font-size: 12px;
        color: red;
        display: none;
    }

    /* 탈퇴 */

    #withdrawSection {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 120px; /* 여백 추가 */
        margin-right: 100px;
    }

    /* 하단 */
    footer {
        background-color: #666666;
        color: white;
        text-align: center;
        padding: 30px 0;
        margin-top: 40px;
    }
    footer ul {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    footer ul li {
        margin-right: 20px;
    }
    footer ul li:last-child {
        margin-right: 0;
    }
    footer ul li a {
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        transition: color 0.3s;
    }
    footer ul li a:hover {
        color: #cccccc;
    }
}