<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>다른 친구 프로필 보기</title>
    <script src="drop.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <a href="index.html">
            <img src="./img/logo.png" alt="pltoo 로고" class="logo">
        </a>
        <nav>
            <ul>
                <li class="dropdown">
                    <a href="#qa">게임</a>
                    <ul class="dropdown-content">
                        <li><a href="#qa1">친구목록</a></li>
                        <li><a href="#qa2">채팅</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#booking">게시판</a>
                    <ul class="dropdown-content">
                        <li><a href="#booking1">자유게시판</a></li>
                        <li><a href="#booking2">2</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#booking">고객센터</a>
                    <ul class="dropdown-content">
                        <li><a href="#booking1">문의사항</a></li>
                        <li><a href="#booking2">자주묻는 질문</a></li>
                        <li><a href="#booking3">신고</a></li>
                        <li><a href="#booking3">챗봇</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="search">
            <input type="text" id="searchInput" placeholder="궁금한 내용을 검색해보세요" style="display: none;">
            <button class="search-button" onclick="toggleSearch()">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="globe-icon">
            <i class="fa-solid fa-globe"></i>
        </div>
        <div class="auth">
            <a href="/login/loginForm.html">로그인</a>
            <a href="/join/join">회원가입</a>
        </div>
        <img id="headerProfileImage" src="" alt="프로필 이미지" class="header-profile-image">
    </div>
    <div class="main">
        <div class="sidebar">
            <div class="Profile">
                <img src="" alt="사용자 이미지" id="profile_img">
                <div class="profile-info">
                    <p id="nickname">닉네임</p>
                    <p id="age">나이</p>
                </div>
                <button class="discode" onclick="viewDiscordProfile()">디스코드 프로필 보기</button>
                <!-- 가장 후순위 개발 순서 -->
				<div class="button">
    				<p class="btnText">친구 할래?</p>
    				<div class="btnTwo">
      					<p class="btnText2">좋아!</p>
    				</div>
 				</div>
            </div>
            	<h3>나의 친구 목록</h3>
            	<div class="friend_list"></div>
        </div>
        <div class="main-content">
        	<h2>자기소개</h2>
            <div class="profile">
            </div>
            <h2>하는 게임 리스트</h2>
            <div class="games">
                <div class="gamePage">
                </div>
            </div>
            <h2>등록한 티어</h2> <!-- 가장 후순위 개발 순서. 못하게 되면 티어 위치에 친구목록?-->
            <div class="tier">
            </div>
        </div>
    </div>
    <div class="foot-container">
        <footer>
            <ul>
                <li><a href="#guideline">가이드라인</a></li>
                <li><a href="#terms">이용약관</a></li>
                <li><a href="#privacy">개인정보 처리방침</a></li>
            </ul>
        </footer>
    </div>
</body>
</html>